<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4f03a1dc-ecdf-4b30-aa73-5f767a1a649e/resourceGroups/Northwind/providers/Microsoft.Web/sites/NW-JWB-FTW</ResourceId>
    <ResourceGroup>Northwind</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://nw-jwb-ftw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>nw-jwb-ftw.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NW-JWB-FTW</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NW-JWB-FTW</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>